* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.Main-Heading {
    text-align: center;
    width: 100vw;
}

.h-primary,.h-para {
    max-width: 100%;
    font-size: 4.8rem;
    user-select: none;
    cursor: pointer;
}

.h-para{
    font-size: 2rem;
}

.img-container {
    height: auto;
    width: 48vw;
    margin: auto;
    margin-top: 12px;
}

.img-container img {
    max-width: 100%;
}

.about,.Achievements{
    padding: 30px;
    /* margin-top: 10px;s */
    /* border: 2px solid red; */
    background-color: red;
    background-color: aqua;
    opacity: .8;
}
.Achievements{
    background-color: yellow;
}


.h2-primary{
    text-align: center;
    font-size: 3.8rem;
    color: black;
}

.h2-para{
    font-size: 1.5rem;
    color: black;
}

#link {
    text-decoration: none;
    color: black;
}

.btn{
    padding: 2px;
    font-size: 1.2rem;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgb(44, 236, 44);

}

footer{
    width: 100vw;
    background-color: black;
    text-align: center;
}